<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>artillery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2023},{94,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,16}}</string>
                <key>sourceSize</key>
                <string>{96,18}</string>
            </dict>
            <key>artillery2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,448},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,172},{168,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,234}}</string>
                <key>sourceSize</key>
                <string>{168,234}</string>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{168,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,234}}</string>
                <key>sourceSize</key>
                <string>{168,234}</string>
            </dict>
            <key>facebig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,472},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>facebig7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,654}}</string>
                <key>sourceSize</key>
                <string>{468,654}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1970},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>life2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,342},{166,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,104}}</string>
                <key>sourceSize</key>
                <string>{166,104}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,342},{136,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,82}}</string>
                <key>sourceSize</key>
                <string>{136,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites2-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c584879457fa8b8225cb7ed235af1fd$</string>
            <key>textureFileName</key>
            <string>Sprites2-hd.png</string>
        </dict>
    </dict>
</plist>
